/.idea/.idea.AQA_Lab-1.dir/.idea/encodings.xml
/.idea/.idea.AQA_Lab-1.dir/.idea/indexLayout.xml
/.idea/.idea.AQA_Lab-1.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.AQA_Lab-1.dir/.idea/workspace.xml
